# Environment
ENV=local  # local, dev, prod

# Database
DB_HOST=localhost
DB_PORT=5432
POSTGRES_USER=your_db_user_name
POSTGRES_PASSWORD=your_db_password
POSTGRES_DB=your_db_name

# HTTP Server
HTTP_SERVER_ADDRESS=localhost:8080
HTTP_SERVER_TIMEOUT=4s
HTTP_SERVER_IDLE_TIMEOUT=60s

# Migrations
MIGRATIONS_PATH=file://migrations
